@import "variables";
@import "bootstrap";
@import "bootswatch";

$main-color: #ec6c4e;
$sessionone-color: #f2f2f2;
$sessiontwo-color: #e6e6e6;
$sessionthree-color: #d9d9d9;
$sessionfour-color: #cccccc;

body {
	color: $main-color
}

strong {
	font-weight: 400;
}

h1 {
	font-weight: 400;
	font-size: 40px;
	letter-spacing: 15px;
}

h2 {
	font-size: 20px;
	padding-bottom: 10px;
	line-height: 0px;
}

h3 {
	font-weight: 100;
	font-size: 20px;
}

.center {
	text-align: center;
}
a {
  color: $main-color;
}

#site-header {
  background: no-repeat url("/images/coworking_rtown.jpg") center top #ffffff;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  padding-top: 20px;
}

$nav-background-color: #ffffff;

#site-nav {
  position: relative;
  margin-left: 80px;
  background-color: $nav-background-color;

  padding-left: 140px;

  #nav-logo {
    padding: 4px;
    position: absolute;
    width: 140px;
    left: 0;
    top: 0;
    text-align: center;
    background-color: $nav-background-color;
  }

  #nav-launch-u-logo {
    width: 100%;
  }

  #nav-fuse-logo {
    width: 50%;
  }

  ul {
    list-style-type: none;
    margin-right: 120px;
  }

  li {
    float: right;
  }

  a {
    display: block;
    padding: 16px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;
  }
}

#site-description {
  bottom: -30px;
  position: absolute;
  padding: 0 20px 0 20px;
  width: 100%;
  text-align: center;
}

#site-inner-wrapper  {
  display: inline-block;
  padding: 12px 40px 12px 40px;
  background-color: $main-color;
  color: #ffffff;
  max-width: 800px;
  text-align: center;
}

#site-description span {
  line-height: 1.5em;
  font-size: 1.2em;
}

#site-description h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.alum-bullet-container {
	padding-left: 100px;
	padding-right: 100px;
}

.alum-quote {
	font-size: 28px;
	font-weight: 100;
	text-align: center;
	padding: 70px 150px 0px 150px;
}

.alum-quote-author {
	font-size: 20px;
	font-weight: lighter;
	padding-bottom: 70px;
	text-align: center;
}

.testBorder {
	border: 1px solid black; /* for my own visual help - I'll delete it later */
}

#bulletpoints-large-wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 1300px;
}

#bulletpoints-small-wrapper {
	display: none;
}

/* Bullet point flex boxes */

$bulletpoint-gutter-size: 1;
$bulletpoint-gutter-size-em: #{$bulletpoint-gutter-size}em;

.bulletpoint-container {
  display: flex;
  align-items: stretch;
}

.bulletpoint-title, .bulletpoint-item {
  flex: 1 0 0;
  margin: 0 $bulletpoint-gutter-size-em 0 $bulletpoint-gutter-size-em;
}

.bulletpoint-item {
	border: 1px solid $main-color;
}

.bulletpoint-item > p {
	padding: 35px;
	font-size: 1.25em;
	line-height: 1.65em;
	font-weight: lighter
}

.bulletpoint-title-container {
	margin-bottom: 4px;
}

/* Schedule Section Items */

#schedule-wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-left: 100px;
	padding-right: 100px;
	max-width: 1300px;
}

.schedule-title {

}

.schedule-row-bg-1 {
	background-color:  $sessionone-color;
}

.schedule-row-bg-2 {
	background-color:  $sessiontwo-color;
}

.schedule-row-bg-3 {
	background-color:  $sessionthree-color;
}

.schedule-row-bg-4 {
	background-color:  $sessionfour-color;
}

.schedule-title-row {
	border-bottom: 1px solid;
	margin-top: 30px;
}

.schedule-datetime {
	text-align: center;
	font-size: 14px;
}

.schedule-inner-image {
	float: left;

}
.schedule-detail p {
	padding: 35px 0px 35px 0px;
	font-size: 1.25em;
	line-height: 1.65em;
	font-weight: lighter
}

.schedule-icon {
	font-size: 5em;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* removing gutter in schedule row */

.row.row-no-gutter {
	margin: 0px;
}

.row.row-no-gutter [class*="col-"] {
    padding: 0
}

.img-full-width {
    width: 100.5%;
    height: auto;
}

.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-no-gutter .inner {
    padding-left: 10px;
    padding-right: 10px;
}

.media-inner > .media {
	vertical-align: center;
}

/* Sponsor and Footer section */

#sponsor-wrapper {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 100px;
	padding-right: 100px;
	max-width: 1300px;
}

.title-sponsor-col {
	height: 50px;
	padding: 50px;
	border-bottom: 1px solid;
}
.title-sponsor-col h1 {
	margin: 0px;
	padding-bottom: 20px;
	letter-spacing: 0px;
}

.title-sponsor-img {
	max-width: 600px;
	padding: 75px;
}

.sponsors {
	display: inline-block;
	text-align: center;
}

.sponsors img {
	padding: 20px;
	max-width: 200px;
}

.gravis-law-img {
	max-height: 150px;
}

.footer {
	min-height: 300px;
	background-color: $sessionfour-color;
	overflow: hidden;
}

.footer-inner {
	max-width: 800px;
}

.footer-left {
	min-height: 300px;
	max-width: 300px;
	background-color: $main-color;
	z-index: 100;
}

.social-media-icons {
	font-size: 48px;
	padding-top: 75px;
	padding-bottom: 75px;
	color: white;
}

.social-media-twitter {
	color: white;
}
.social-media-twitter:hover {
	color: $main-color;
}

.social-media-facebook {
	color: white;
}

.social-media-facebook:hover {
	color: $main-color;
}

.footer-buttons {
	padding-top: 75px;
	padding-bottom: 75px;
}

.copyright {
	margin-bottom: 10px;
	color: white;
}

/* Button Styling */

.btn {
	margin: 10px;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 1px solid white;
    color: white;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: $main-color;
    border-color: $main-color;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: black;
    color: black;
    background-color: white;
    box-shadow: none;
}


/* Media Queries */

@media (max-width: $screen-md-max) {

	#bulletpoints-large-wrapper {
		display: none;
	}

	#bulletpoints-small-wrapper {
		display: inline-block;
	}

	.alum-quote {
		font-size: 24px;
		font-weight: 100;
		text-align: center;
		padding: 70px 10px 0px 10px;
	}

	.alum-quote-author {
		font-size: 18px;
		font-weight: lighter;
		padding-bottom: 70px;
		text-align: center;
	}

	h1 {
	    font-size: 24px;
	    line-height: 0;
	}

	h2 {
		font-size: 18px;
	}
}
@media (max-width: $screen-sm-max) {

	h1 {
	    font-size: 24px;
	}
}

@media (max-width: $screen-xs-max) {

	.row {
		margin-left: -5px;
		margin-right: -5px;
	}

	.alum-bullet-container {
    	padding-left: 45px;
    	padding-right: 45px;
	}

	.alum-quote {
		font-size: 18px;
	}

	.alum-quote-author {
		font-size: 16px;
		padding-bottom: 25px;
	}

	.bulletpoint-title, .bulletpoint-item {
  		flex: 1 0 0;
  		margin: auto;
	}

	#schedule-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}

	.schedule-image {
		display: none;
	}

	.schedule-icon {
		display: none;
	}

	.schedule-title {
		letter-spacing: 5px;
	}

	.session-number {
		display: none;
	}

	.session-date {
		width: 100%;
	}

	.schedule-detail {
    	border-right: 1px solid $sessiontwo-color;
    	border-bottom: 1px solid $sessiontwo-color;
    	border-left: 1px solid $sessiontwo-color;
    	margin-bottom: 10px;
	}

	.title-sponsor-col h1 {
		line-height: 21px;
	}

	h2 {
		line-height: 0px;
	}

	h3 {
		font-size: 16px;
	}

	#sponsor-wrapper {
		padding-left: 0px;
		padding-right: 0px
	}

	.title-sponsor-col h1 {
		margin: 0px;
		font-size: 20px;
		padding-bottom: 20px;
		letter-spacing: 0px;
	}

	.title-sponsor-img {
		max-width: 400px;
		padding: 20px;
	}
	.sponsors img {
		max-width: 150px;
	}

}

