@import "variables";
@import "bootstrap";
@import "bootswatch";

$main-color: #ec6c4e;

body {
	color: $main-color
}
strong {
	font-weight: 400;
}
h1 {
	font-weight: 700;
	font-size: 70px;
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.alum-bullet-container {
	padding-left: 50px;
	padding-right: 50px;
}
.alum-quote {
	font-size: 34px;
	font-weight: 100;
	text-align: center;
	padding: 70px 150px 0px 150px;
}
.alum-quote-author {
	font-size: 28px;
	font-weight: lighter;
	padding-bottom: 70px;
	text-align: center;
}
.testBorder {
	border: 1px solid black; /* for my own visual help - I'll delete it later */
}

#bulletpoints-large-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
}
#bulletpoints-small-wrapper {
	display: none;
}

$bulletpoint-gutter-size: 1;
$bulletpoint-gutter-size-em: #{$bulletpoint-gutter-size}em;

.bulletpoint-container {
  display: flex;
  align-items: stretch;
}

.bulletpoint-title, .bulletpoint-item {
  flex: 1 0 0;
  margin: 0 $bulletpoint-gutter-size-em 0 $bulletpoint-gutter-size-em;
}

.bulletpoint-item {
	border: 5px solid $main-color;
}

.bulletpoint-item > p {
	padding: 35px;
	font-size: 1.7em;
	line-height: 2em;
	font-weight: lighter
}

.bulletpoint-title-container {
	margin-bottom: 4px;
}

@media (max-width: $screen-md-max) {
	#bulletpoints-large-wrapper {
		display: none;
	}
	#bulletpoints-small-wrapper {
		display: inline-block;
	}
	.alum-quote {
	font-size: 24px;
	font-weight: 100;
	text-align: center;
	padding: 70px 10px 0px 10px;
	}
	.alum-quote-author {
	font-size: 18px;
	font-weight: lighter;
	padding-bottom: 70px;
	text-align: center;
	}
}

